
/* colors */
$color-bg-btn-default: #B9B9B9;
$color-bg-btn-hover: #5F5D5D;
$color-bg-btnCalc-active: #3B3B3B;
$color-bnt-hover: #25B665;
$color-btn-active: #16FF00;
$color-btn-default: #0DA756;
$color-darkGreen: #043D1F;
$color-primary: #0FA958;

/* fonts */
$poppins-df: 20px;
$poppins-sm: 14px;
$fw-rg: 400;
$fw-md: 500;

/* effects */
$shadow-md: 0px 2px 24px 0px $color-btn-active;


