@import './styles/variables';

.app {
    background: #FFF;
    width: 311px;
    height: 462.07px;
    border-radius: 10px;
    font-size: $poppins-df;

    & button,
    select {
        cursor: pointer;
    }


    & .btn-language {
        display: grid;
        width: 250px;
        border: none;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-left: 3px;
        background: transparent;

        &__span {
            color: blue;
            font-size: $poppins-sm;
        }
    }

    & .header {
        margin-left: 16px;
    }

    & .form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        &__lbl {
            font-size: calc($poppins-df - 3.5px);
        }

        & fieldset:nth-child(1) {
            display: grid;
            gap: 8px;
            grid-template-columns: 1fr 1fr;
            margin-top: 42px;
            width: fit-content;
            padding: 16px;
        }

        &__group {
            display: flex;
            margin-right: 16px;
            gap: 8px;
            min-width: 114px;
            max-width: 125px;

            & input {
                width: 46px;
                text-align: center;

            }

        }

        &__group:nth-child(1) {
            margin-right: 55px;

        }

        &__group:nth-child(3) {
            label {
                margin-right: 23px;
            }

        }


        & fieldset:nth-child(2) {
            display: grid;
            gap: 16px;
            width: fit-content;
            justify-content: center;
            align-items: center;
            margin-top: 52px;
            margin: 0 auto;
            padding: 16px;

            & .form__physical-activity-select {
                display: block;
                margin: 8px auto;
                height: 41px;
                text-align: center;
                font-weight: bold;

                &__opt {
                    font-weight: bold;
                }

            }

        }

        &__submit {
            margin-top: 45px;
            height: 30px;
            width: 85px;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            background: $bg-btn-default;
            color: $color-btn-default;

            &:hover {
                background: $bg-btn-hover;
                color: $color-btn-hover;

            }

            &:active {
                background: $bg-btn-active;
                color: $color-btn-active;
                box-shadow: $shadow-md;
            }
        }
    }

    .result {
        display: grid;
        justify-content: center;
        gap: 16px;

        .data {
            margin-top: 16px;
            display: grid;
            justify-content: center;
            gap: 16px;
            padding: 8px;
            width: 80vw;
            border: 1px solid #000;

            .item {
                display: flex;
                flex-flow: column wrap;

                & .description {
                    margin-right: 16px;
                    font-size: $poppins-sm - 4;
                }
            }
        }

        .footer {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            align-items: center;

            .link {
                font-size: $poppins-sm;
                color: blue;
            }

            & .btn-backToHome {
                height: 30px;
                width: 85px;
                border: none;
                border-radius: 8px;
                font-size: 18px;
                background: $bg-btn-default;
                color: $color-btn-default;

                &:hover {
                    background: $bg-btn-hover;
                    color: $color-btn-hover;

                }

                &:active {
                    background: $bg-btn-active;
                    color: $color-btn-active;
                    box-shadow: $shadow-md;
                }
            }
        }
    }
}